<!-- main app container -->
<div class="card">
    <h5 class="card-header">Register Form</h5>
    <div class="card-body">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">
            <div class="form-row">
               
                <div class="form-group col-6">
                    <label>First Name</label>
                    <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                        <div *ngIf="f.firstName.errors.required">First Name is required</div>
                    </div>
                </div>
                <div class="form-group col-6">
                    <label>Last Name</label>
                    <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                        <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>
            </div>
            <div class="form-group">
                <label>Mobile No</label>
                <input type="text" formControlName="mobileNo"  minlength="10" maxlength="10" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mobileNo.errors }" />
                <div *ngIf="submitted && f.mobileNo.errors" class="invalid-feedback">
                    <div *ngIf="f.mobileNo.errors.required">Mobile No required</div>
                    <div *ngIf="f.mobileNo.errors.pattern || f.mobileNo.errors.maxlength || f.mobileNo.errors.minlength">Phone number must be at least 10 numbers</div>

                </div>
            </div>
            <div class="form-group">
                <label>Gender</label><br>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="customRadio"  name="gender" formControlName="gender" value="male"  [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
                    <label class="custom-control-label" for="customRadio">Male</label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="customRadio2"  name="gender" formControlName="gender" value="female"  [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
                    <label class="custom-control-label" for="customRadio2">Female</label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="customRadio3"  name="gender" formControlName="gender" value="other" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
                    <label class="custom-control-label" for="customRadio3">Other</label>
                  </div><br>
                  <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                    <div *ngIf="f.gender.errors.required">Gender No required</div>
                </div>
            </div>
              <div class="form-group">
                <label>Address</label>
                <textarea  type="text" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address.errors }"></textarea>
                <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                    <div *ngIf="f.address.errors.required">Address No required</div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label>Password</label>
                    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        
                     </div>
                </div>
                <div class="form-group col">
                    <label>Confirm Password</label>
                    <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                        <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                    </div>
                </div>
            </div>
            
            <div class="text-center">
                <button class="btn btn-primary mr-1">Register</button>
                 </div>
        </form>
    </div>
</div>